.containerAssg1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  &--result {
    margin-bottom: 20px;
  }
}
.custom {
  font-weight: 700;
  margin: 0 20px;
}